@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f1418;
  --foreground: #dee3e8;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
